<form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="p-fluid grid formgrid gap-4">
    <div class="field col-12 md:col-6">
      <label for="name" class="font-semibold">Name</label>
      <input id="name" type="text" pInputText formControlName="name" class="p-inputtext-lg w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="phone" class="font-semibold">Phone</label>
      <input id="phone" type="tel" pInputText formControlName="phone" class="p-inputtext-lg w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="baseLocation" class="font-semibold">Base Location</label>
      <input id="baseLocation" #locationInput type="text" pInputText formControlName="baseLocation"
             class="p-inputtext-lg w-full" autocomplete="off"/>
    </div>

    <div class="field col-12 md:col-6">
      <label for="idNumber" class="font-semibold">ID Number</label>
      <input id="idNumber" type="text" pInputText formControlName="idNumber" class="p-inputtext-lg w-full" />
    </div>

    <div class="col-12 flex justify-end gap-3 mt-3">
      <button type="button" pButton label="Cancel" class="p-button-outlined p-button-secondary" (click)="onCancel()"></button>
      <button type="submit" pButton label="Save" class="p-button-primary" [disabled]="driverForm.invalid"></button>
    </div>
</form>
