<p-toolbar>
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="showAddClientModal()" />
        <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedClients()" [disabled]="!selectedClients || !selectedClients.length" />
    </ng-template>

    <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" 
            auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV($event)" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="filteredClients"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'email', 'phone', 'status', 'location']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedClients"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rowHover]="true"
    dataKey="idNumber"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Clients</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="idNumber" style="min-width:16rem">
                ID Number
                <p-sortIcon field="idNumber" />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="email" style="min-width:16rem">
                Email
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="phone" style="min-width:16rem">
                Phone
                <p-sortIcon field="phone" />
            </th>
            <th pSortableColumn="status" style="min-width:16rem">
                Status
                <p-sortIcon field="status" />
            </th>
            <th pSortableColumn="location" style="min-width:16rem">
                Location
                <p-sortIcon field="location" />
            </th>
            <th style="min-width: 12rem">Actions</th>
        </tr>
    </ng-template>

    <ng-template #body let-client>
        <tr (click)="selectedClients = [client]">
            <td style="width: 3rem">
                <p-tableCheckbox [value]="client" />
            </td>
            <td style="min-width: 16rem">{{ client.idNumber }}</td>
            <td style="min-width: 16rem">{{ client.name }}</td>
            <td style="min-width: 16rem">{{ client.email }}</td>
            <td style="min-width: 16rem">{{ client.phone }}</td>
            <td>
                <p-tag [value]="client.status" [severity]="getSeverity(client.status)" />
            </td>
            <td style="min-width: 16rem">{{ client.location }}</td>
            <td>
                <p-menu #menu [model]="items" [popup]="true" appendTo="body"/>
                <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Confirmation Dialog -->
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


<p-toast></p-toast>
<!-- Add Client Modal -->
<p-dialog header="Add Client" [(visible)]="addClientModalVisible" [modal]="true" [closable]="true" [style]="{width: '50vw'}">
    <add-client-modal (clientAdded)="onClientAdded($event)" (closeDialog)="addClientModalVisible = false"></add-client-modal>
</p-dialog>
